#!/bin/sh

start () {
    echo -n "Starting solr..."

    # Start daemon
    daemon --user="{{ solr_user }}:{{ solr_group }}" --chdir="{{ solr_dir }}" --umask="0774" --respawn --errlog="{{ solr_logs }}/daemon_err.log" --stdout="{{ solr_logs }}/out.log" --stderr="{{ solr_logs }}/err.log" --name=solr --verbose --command="java -verbose -classpath {{ solr_dir }}/Tomcat/bin/bootstrap.jar:{{ solr_dir }}/Tomcat/bin/tomcat-juli.jar -Xmx1560m -Xms1560m -Xss4m -XX:PermSize=24m -Dcatalina.home=\"{{ solr_dir }}/Tomcat\" -Dsolr.solr.home={{ solr_dir }}/Solr/cores -Dcatalina.logs={{ solr_logs }} -Djava.util.logging.config.file=\"{{ solr_dir }}/Tomcat/conf/logging.properties\" -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager -Djava.endorsed.dirs=\"{{ solr_dir }}/Tomcat/endorsed\" org.apache.catalina.startup.Bootstrap"

    RETVAL=$?
    if [ $RETVAL = 0 ]
    then
        echo "done."
    else
        echo "failed. See error code for more information."
    fi
    return $RETVAL
}

stop () {
    # Stop daemon
    echo -n "Stopping solr..."

    daemon --stop --name=solr --verbose --user="{{ solr_user }}:{{ solr_group }}" --chdir="{{ solr_dir }}" --umask="0774"
    RETVAL=$?

    if [ $RETVAL = 0 ]
    then
        echo "Done."
    else
        echo "Failed. See error code for more information."
    fi
    return $RETVAL
}


restart () {
    daemon --restart --name=solr --verbose --user="{{ solr_user }}:{{ solr_group }}" --chdir="{{ solr_dir }}" --umask="0774"
}


status () {
    # Report on the status of the daemon
    daemon --running --verbose --name=solr --user="{{ solr_user }}:{{ solr_group }}" --chdir="{{ solr_dir }}" --umask="0774"
    return $?
}


case "$1" in
    start)
        start
    ;;
    status)
        status
    ;;
    stop)
        stop
    ;;
    restart)
        restart
    ;;
    *)
        echo $"Usage: solr {start|status|stop|restart}"
        exit 3
    ;;
esac

exit $RETVAL
